

.navbar {
    position: fixed;
    z-index: 10;
    top:0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #111;
    }
    
    .logo {
    width: 115px;
    }
    
    .right-container {
    display: flex;
    align-items: center;
    }
    
    .avatar {
    width: 30px;
    margin-right: 10px;
    }

    .sign-up-button {
        background-color:#e50914;
color: white;
border: none;
border-radius: 5px;
padding: 8px 20px;
font-size: 14px;
cursor: pointer;
text-transform: uppercase;
letter-spacing: 1px;
margin-right: 12px;
/*  */
    }

    .sign-out-button{
        color: white;
border: none;
border-radius: 5px;
padding: 8px 20px;
font-size: 14px;
cursor: pointer;
text-transform: uppercase;
letter-spacing: 1px;
margin-right: 12px;
background-color:#e50914;
margin-bottom: 10px;

    }